{% extends 'base.html' %}
{% block content %}
<h2>Dashboard Admin</h2>

<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>Nama</th>
            <th>NISN</th>
            <th>Asal Sekolah</th>
            <th>Status</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
    {% for p in pendaftar_list %}
        <tr>
            <td>{{ p.nama_lengkap }}</td>
            <td>{{ p.nisn }}</td>
            <td>{{ p.asal_sekolah }}</td>
            <td>{{ p.status }}</td>
            <td>
                <a href="{{ url_for('admin.verifikasi', pendaftar_id=p.id) }}">Verifikasi</a> |
                <a href="{{ url_for('admin.hapus', pendaftar_id=p.id) }}" onclick="return confirm('Yakin hapus?')">Hapus</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
