{% extends 'base.html' %}
{% block content %}
<h2>Formulir Pendaftaran</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.nama_lengkap.label }}<br>{{ form.nama_lengkap() }}<br>
    {{ form.nisn.label }}<br>{{ form.nisn() }}<br>
    {{ form.tempat_lahir.label }}<br>{{ form.tempat_lahir() }}<br>
    {{ form.tanggal_lahir.label }}<br>{{ form.tanggal_lahir() }}<br>
    {{ form.jenis_kelamin.label }}<br>{{ form.jenis_kelamin() }}<br>
    {{ form.alamat.label }}<br>{{ form.alamat() }}<br>
    {{ form.asal_sekolah.label }}<br>{{ form.asal_sekolah() }}<br>
    {{ form.jalur_pendaftaran.label }}<br>{{ form.jalur_pendaftara() }}<br>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
